<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="OutputDebugString" xsi:type="OutputDebugString" layout="${longdate} ${level:uppercase=true:padding=5} | ${message} | ${exception:format=type,tostring}"/>
      <target name="console" xsi:type="ColoredConsole" layout="${longdate} ${level:uppercase=true:padding=5} | ${message} | ${exception:format=type,tostring}"/>
      <target name="debugger" xsi:type="Debugger" layout="${longdate} ${level:uppercase=true:padding=5} | ${message} | ${exception:format=type,tostring}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="OutputDebugString,debugger,console" />
    </rules>
  </nlog>
</configuration>
