<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="NumberOfWorkerThreads" value="1"/>
    
    <add key="InputQueue" value="gateway"/>
    <add key="ErrorQueue" value="error"/>
    <add key="ForwardReceivedMessageTo" value="audit"/>
    
    <add key="OutputQueue" value="MyServerInputQueue"/>
    <add key="ListenUrl" value="http://127.0.0.1:8080/Gateway/"/>

    <add key="RequireMD5FromClient" value="true"/>
    <!-- requires that Http clients pass in the Content-MD5 Http header with requests
         so that the gateway can ensure that it received the message correctly. -->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
